.no-display{
    display: none !important; 
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
}


#flag-counter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    font-size: 15rem;
    z-index: -100;
}

#end-of-game-lose{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: x-large;
    color: white;
    text-align: center;
    transition: 1s all;
}

#end-of-game-lose > div{
    margin: 20px;
}

#end-of-game-lose > button{
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
    background-color: whitesmoke;
}

#end-of-game-lose > button:hover{
    color: white;
    background-color: black;
}

#end-of-game-win{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: x-large;
    text-align: center;
    transition: 1s all;
}

#end-of-game-win > div{
    margin: 20px;
}

#end-of-game-win > button{
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
    background-color: whitesmoke;
}

#end-of-game-win > button:hover{
    color: white;
    background-color: black;
}


.basic-box{
    border-radius: 10px;
    width: 2rem;
    height: 2rem;
    margin: 5px;
    display: inline-block;
}

.sample-box{
    background-color: gray;
    transition: 1s all;
}

.sample-box:hover{
    background-color: lightgray;
}

.flag{
    background:url('media/flag.svg') no-repeat center center darkgray;
    background-size: 1rem 1rem;

}

.flag:hover{
    background-color: lightgray;
}

.empty-field{
    background-color: lightblue;
    text-align: center;
    
}

.bomb{
    background: url('media/mine.svg') no-repeat center center whitesmoke;
    background-size: 1.5rem 1.5rem;
}

.bomb-exploded{
    background: url('media/exploded.svg') no-repeat center center whitesmoke;
    background-size: 1.5rem 1.5rem;
}

.bomb-1{
    background: url('media/1mines.svg') no-repeat center center whitesmoke;
    background-size: 1.5rem 1.5rem;
}

.bomb-2{
    background: url('media/2mines.svg') no-repeat center center whitesmoke;
    background-size: 1.5rem 1.5rem;
}

.bomb-3{
    background: url('media/3mines.svg') no-repeat center center whitesmoke;
    background-size: 1.5rem 1.5rem;
}

.bomb-4{
    background: url('media/4mines.svg') no-repeat center center whitesmoke;
    background-size: 1.5rem 1.5rem;
}

.bomb-5{
    background: url('media/5mines.svg') no-repeat center center whitesmoke;
    background-size: 1.5rem 1.5rem;
}

.bomb-6{
    background: url('media/6mines.svg') no-repeat center center whitesmoke;
    background-size: 1.5rem 1.5rem;
}

.bomb-7{
    background: url('media/7mines.svg') no-repeat center center whitesmoke;
    background-size: 1.5rem 1.5rem;
}

.bomb-8{
    background: url('media/8mines.svg') no-repeat center center whitesmoke;
    background-size: 1.5rem 1.5rem;
}